menu{
background-color: rgb(177, 124, 225);
padding: 0;
display: flex;
height: 40px;
border-radius: 4px;
overflow: hidden;


}




li{
list-style-type: none;


a{
    color: #ffff;
text-decoration: none;
font-family: sans-serif;

height: 100%;
display:flex;
align-items: center ;
padding: 0 16px;
transition: backgroud-color 0,3s ease-in-out;
}

a:hover{
   background-color:rgba(255, 255, 255, 0.2); 
}
} 